# Explanation tables

Propriedades de uma Explanation Table
<ul>
   <li>Informativa</li>
    <ul>
        <li>Solapáveis</li>
    </ul>
   <li>Interpretável</li>
   <li>Eficiente</li>
</ul>

In [1]:
#Livrarias
import numpy as np
import pandas as pd
import itertools

## Dataset

In [2]:
#Data
day = ['Fri', 'Fri', 'Sun', 'Sun', 'Mon', 'Mon', 'Tue', 'Wed', 'Thu', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat'];
time = ['Dawn', 'Night', 'Dusk', 'Morning', 'Afternoon', 'Midday', 'Morning', 'Night', 'Dawn', 'Afternoon', 'Dawn', 'Dawn', 'Dusk', 'Midday'];
meal = ['Banana', 'Green Salad', 'Oatmeal', 'Banana', 'Oatmeal', 'Banana', 'Green Salad', 'Burgers', 'Oatmeal', 'Nuts', 'Banana', 'Oatmeal', 'Rice', 'Toast'];

#Dataset
dataset = pd.DataFrame({
  'day'  : day,
  'time' : time,
  'meal' : meal
});

In [3]:
dataset

    day       time         meal
0   Fri       Dawn       Banana
1   Fri      Night  Green Salad
2   Sun       Dusk      Oatmeal
3   Sun    Morning       Banana
4   Mon  Afternoon      Oatmeal
5   Mon     Midday       Banana
6   Tue    Morning  Green Salad
7   Wed      Night      Burgers
8   Thu       Dawn      Oatmeal
9   Sat  Afternoon         Nuts
10  Sat       Dawn       Banana
11  Sat       Dawn      Oatmeal
12  Sat       Dusk         Rice
13  Sat     Midday        Toast

In [4]:
#Binary data
goal = ['Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No'];
#Augmented dataset 
dataset['goal'] = goal;

In [5]:
dataset

    day       time         meal goal
0   Fri       Dawn       Banana  Yes
1   Fri      Night  Green Salad  Yes
2   Sun       Dusk      Oatmeal  Yes
3   Sun    Morning       Banana  Yes
4   Mon  Afternoon      Oatmeal  Yes
5   Mon     Midday       Banana  Yes
6   Tue    Morning  Green Salad   No
7   Wed      Night      Burgers   No
8   Thu       Dawn      Oatmeal  Yes
9   Sat  Afternoon         Nuts   No
10  Sat       Dawn       Banana   No
11  Sat       Dawn      Oatmeal   No
12  Sat       Dusk         Rice   No
13  Sat     Midday        Toast   No

## Pre-processamento

In [6]:
#Funções e estruturas axuiliares

#rows - Rows from which obtain the keys of the returned dictionary [dic]
def addKeyValue(rows):
    dic = {};
    uniqueList = rows.unique();
    for val,key in enumerate(uniqueList):
        dic.update({key : val});
    return dic;

def createSolutionSpace(D):
    columns = D.columns;
    _,nC = D.shape;
    dicUniqueCols = {};
    for k, col in enumerate(columns[:-1]):
        dicUniqueCols.update({k : np.append(D[col].unique(),-1)});
    dicUniqueCols.update({nC:[0]}) 
    return pd.DataFrame(np.array(list(itertools.product(*dicUniqueCols.values()))));

#Times of apparitions of x in the dataset
def countApparitions(D,x):
    nRows,_= D.shape;
    res = [True for x in range(nRows)];
    for header in D.columns:
        res &= D[header] == x[header]
    return res.sum()/nRows;

#Calculate the empirical distribution for x in the dataset D
def empirical(D, label):
    res = pd.DataFrame({
      label : D.apply(lambda x:countApparitions(D,x), axis=1)
    });
    return res;

#Creating dictionaries
dicDay  = addKeyValue(dataset['day']);
dicTime = addKeyValue(dataset['time']);
dicMeal = addKeyValue(dataset['meal']);
dicGoal = addKeyValue(dataset['goal']);
#Coding table
codedDay   = dataset['day'].apply(lambda x: dicDay[x]);
codedTime  = dataset['time'].apply(lambda x: dicTime[x]);
codedMeal  = dataset['meal'].apply(lambda x: dicMeal[x]);
codedGoal  = dataset['goal'].apply(lambda x: dicGoal[x]);

In [7]:
#Coded dataset
codedDataset = pd.DataFrame({
  'day'  : codedDay,
  'time' : codedTime,
  'meal' : codedMeal,
  'goal' : 1-codedGoal
});

In [8]:
codedDataset

    day  time  meal  goal
0     0     0     0     1
1     0     1     1     1
2     1     2     2     1
3     1     3     0     1
4     2     4     2     1
5     2     5     0     1
6     3     3     1     0
7     4     1     3     0
8     5     0     2     1
9     6     4     4     0
10    6     0     0     0
11    6     0     2     0
12    6     2     5     0
13    6     5     6     0

In [9]:
#Espaço de soluções
solSpace = createSolutionSpace(codedDataset);
solSpace

     0  1  2  3
0    0  0  0  0
1    0  0  1  0
2    0  0  2  0
3    0  0  3  0
4    0  0  4  0
..  .. .. .. ..
443 -1 -1  3  0
444 -1 -1  4  0
445 -1 -1  5  0
446 -1 -1  6  0
447 -1 -1 -1  0

[448 rows x 4 columns]

In [10]:
#Extend the codedDataset
###Add empirical probability p(x) to the patterns x
metaColumns = -1; #columns in D that are not part of the pattern, dedicated for calculations
res = empirical(codedDataset.iloc[:,:metaColumns], 'empX'); #calculate empirical distribution
codedDataset = pd.concat([codedDataset,res], axis=1); #add empirical column to the dataset
metaColumns -= 1 #update metacolumns
###Add joint probability p(x,v) to the patterns x with goal value v
res = empirical(codedDataset.iloc[:, :metaColumns+1], 'empXY');
codedDataset = pd.concat([codedDataset,res], axis=1); #add empirical joint probability column to the dataset
metaColumns -= 1 #update metacolumns

In [11]:
codedDataset

    day  time  meal  goal      empX     empXY
0     0     0     0     1  0.071429  0.071429
1     0     1     1     1  0.071429  0.071429
2     1     2     2     1  0.071429  0.071429
3     1     3     0     1  0.071429  0.071429
4     2     4     2     1  0.071429  0.071429
5     2     5     0     1  0.071429  0.071429
6     3     3     1     0  0.071429  0.071429
7     4     1     3     0  0.071429  0.071429
8     5     0     2     1  0.071429  0.071429
9     6     4     4     0  0.071429  0.071429
10    6     0     0     0  0.071429  0.071429
11    6     0     2     0  0.071429  0.071429
12    6     2     5     0  0.071429  0.071429
13    6     5     6     0  0.071429  0.071429

In [12]:
#From pandas to numpy
codedDataset = codedDataset.to_numpy();
solSpace = solSpace.to_numpy();

In [13]:
codedDataset

array([[0.        , 0.        , 0.        , 1.        , 0.07142857,
        0.07142857],
       [0.        , 1.        , 1.        , 1.        , 0.07142857,
        0.07142857],
       [1.        , 2.        , 2.        , 1.        , 0.07142857,
        0.07142857],
       [1.        , 3.        , 0.        , 1.        , 0.07142857,
        0.07142857],
       [2.        , 4.        , 2.        , 1.        , 0.07142857,
        0.07142857],
       [2.        , 5.        , 0.        , 1.        , 0.07142857,
        0.07142857],
       [3.        , 3.        , 1.        , 0.        , 0.07142857,
        0.07142857],
       [4.        , 1.        , 3.        , 0.        , 0.07142857,
        0.07142857],
       [5.        , 0.        , 2.        , 1.        , 0.07142857,
        0.07142857],
       [6.        , 4.        , 4.        , 0.        , 0.07142857,
        0.07142857],
       [6.        , 0.        , 0.        , 0.        , 0.07142857,
        0.07142857],
       [6.        , 0.        , 2.        , 0.        , 0.07142857,
        0.07142857],
       [6.        , 2.        , 5.        , 0.        , 0.07142857,
        0.07142857],
       [6.        , 5.        , 6.        , 0.        , 0.07142857,
        0.07142857]])

In [14]:
solSpace

array([[ 0,  0,  0,  0],
       [ 0,  0,  1,  0],
       [ 0,  0,  2,  0],
       ...,
       [-1, -1,  5,  0],
       [-1, -1,  6,  0],
       [-1, -1, -1,  0]], dtype=int64)

## Baseline Algorithm

In [37]:
def explanationTable(D,k):
    #Iniciar Explanation Table T com o padrão (*,*,...,*)
    #Iniciar estimação u*, com u*[i] = sum(meta)/N, sendo N o tamanho de T
    #Repetir k vezes
        #Obter o padrão p_max que maximize a entropia
        #Agregar p_max como padrão a T
    #Atualizar as estimações u* com o novo padrão p_max agregado a T
    #Retornar u*, T
    pass

Primeira atualização -> Iniciar Explanation Table T com o padrão ( *, *,..., *)

In [38]:
#Get the all-wildcard pattern from 
def getAllWildcard(solSpace):
    _,nC = solSpace.shape;
    patterns = solSpace[:,:-1]; #Get the pattern columns
    arraySum = np.sum(patterns, axis=1) #Sum all the values for each pattern
    index = np.where(arraySum == -(nC-1))[0] #Get the index where the all=wildcard resides
    solSpace[index, -1] = 1; #Mark the pattern as added
    return solSpace[index,:-1][0] #Return the pattern

In [39]:
def explanationTable(D,k):
    #Iniciar Explanation Table T com o padrão (*,*,...,*)
    p = getAllWildcard(solSpace)
    T = np.array([p]);
    return T
    #Iniciar estimação u*, com u*[i] = sum(meta)/N, sendo N o tamanho de T
    #Repetir k vezes
      #Obter o padrão p_max que maximize a entropia
      #Agregar p_max como padrão a T
    #Atualizar as estimações u* com o novo padrão p_max agregado a T
    #Retornar u*, T

In [40]:
print(explanationTable(codedDataset,3));

[[-1 -1 -1]]

Segunda atualização - > Iniciar estimação u*, com u*[i] = sum(meta)/N, sendo N o tamanho de T

In [41]:
def explanationTable(D,k):
    #Iniciar Explanation Table T com o padrão (*,*,...,*)
    p = getAllWildcard(solSpace)
    T = np.array([p]);
    #Iniciar estimação u*, com u*[i] = sum(meta)/N, sendo N o tamanho de T
    nR,nC = D.shape;
    initialEstimation = np.sum(D[:,-3])/nR;
    U = np.array([initialEstimation for _ in range(nR)]);
    return(U);
    #Repetir k vezes
      #Obter o padrão p_max que maximize a entropia
      #Agregar p_max como padrão a T
    #Atualizar as estimações u* com o novo padrão p_max agregado a T
    #Retornar u*, T

In [42]:
print(explanationTable(codedDataset,3));

[0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5]

Terceira atualização - > Pesquisar a solução no espaço de soluções

In [43]:
def explanationTable(D,k):
    #Iniciar Explanation Table T com o padrão (*,*,...,*)
    p = getAllWildcard(solSpace)
    T = np.array([p]);
    #Iniciar estimação u*, com u*[i] = sum(meta)/N, sendo N o tamanho de T
    nR,nC = D.shape;
    initialEstimation = np.sum(D[:,-3])/nR;
    U = np.array([initialEstimation for _ in range(nR)]);
    #Repetir k vezes
    for i in range(k):
        mask = np.where(solSpace[:,-1] == 0); #Get the unmarked patterns
       #Obter o padrão p_max que maximize a entropia
        for index, pCandidate in enumerate(solSpace[mask][:,:-1]): #For each candidate
            print('Candidato {}: {}'.format(index, pCandidate));
        break;
       #Agregar p_max como padrão a T
       #Atualizar as estimações u* com o novo padrão p_max agregado a T
    #Retornar u*, T
    return;

In [44]:
explanationTable(codedDataset,3)

Candidato 0: [0 0 0]
Candidato 1: [0 0 1]
Candidato 2: [0 0 2]
Candidato 3: [0 0 3]
Candidato 4: [0 0 4]
Candidato 5: [0 0 5]
Candidato 6: [0 0 6]
Candidato 7: [ 0  0 -1]
Candidato 8: [0 1 0]
Candidato 9: [0 1 1]
Candidato 10: [0 1 2]
Candidato 11: [0 1 3]
Candidato 12: [0 1 4]
Candidato 13: [0 1 5]
Candidato 14: [0 1 6]
Candidato 15: [ 0  1 -1]
Candidato 16: [0 2 0]
Candidato 17: [0 2 1]
Candidato 18: [0 2 2]
Candidato 19: [0 2 3]
Candidato 20: [0 2 4]
Candidato 21: [0 2 5]
Candidato 22: [0 2 6]
Candidato 23: [ 0  2 -1]
Candidato 24: [0 3 0]
Candidato 25: [0 3 1]
Candidato 26: [0 3 2]
Candidato 27: [0 3 3]
Candidato 28: [0 3 4]
Candidato 29: [0 3 5]
Candidato 30: [0 3 6]
Candidato 31: [ 0  3 -1]
Candidato 32: [0 4 0]
Candidato 33: [0 4 1]
Candidato 34: [0 4 2]
Candidato 35: [0 4 3]
Candidato 36: [0 4 4]
Candidato 37: [0 4 5]
Candidato 38: [0 4 6]
Candidato 39: [ 0  4 -1]
Candidato 40: [0 5 0]
Candidato 41: [0 5 1]
Candidato 42: [0 5 2]
Candidato 43: [0 5 3]
Candidato 44: [0 5 4]
Candidato 45: [0 5 5]
Candidato 46: [0 5 6]
Candidato 47: [ 0  5 -1]
Candidato 48: [ 0 -1  0]
Candidato 49: [ 0 -1  1]
Candidato 50: [ 0 -1  2]
Candidato 51: [ 0 -1  3]
Candidato 52: [ 0 -1  4]
Candidato 53: [ 0 -1  5]
Candidato 54: [ 0 -1  6]
Candidato 55: [ 0 -1 -1]
Candidato 56: [1 0 0]
Candidato 57: [1 0 1]
Candidato 58: [1 0 2]
Candidato 59: [1 0 3]
Candidato 60: [1 0 4]
Candidato 61: [1 0 5]
Candidato 62: [1 0 6]
Candidato 63: [ 1  0 -1]
Candidato 64: [1 1 0]
Candidato 65: [1 1 1]
Candidato 66: [1 1 2]
Candidato 67: [1 1 3]
Candidato 68: [1 1 4]
Candidato 69: [1 1 5]
Candidato 70: [1 1 6]
Candidato 71: [ 1  1 -1]
Candidato 72: [1 2 0]
Candidato 73: [1 2 1]
Candidato 74: [1 2 2]
Candidato 75: [1 2 3]
Candidato 76: [1 2 4]
Candidato 77: [1 2 5]
Candidato 78: [1 2 6]
Candidato 79: [ 1  2 -1]
Candidato 80: [1 3 0]
Candidato 81: [1 3 1]
Candidato 82: [1 3 2]
Candidato 83: [1 3 3]
Candidato 84: [1 3 4]
Candidato 85: [1 3 5]
Candidato 86: [1 3 6]
Candidato 87: [ 1  3 -1]
Candidato 88: [1 4 0]
Candidato 89: [1 4 1]
Candidato 90: [1 4 2]
Candidato 91: [1 4 3]
Candidato 92: [1 4 4]
Candidato 93: [1 4 5]
Candidato 94: [1 4 6]
Candidato 95: [ 1  4 -1]
Candidato 96: [1 5 0]
Candidato 97: [1 5 1]
Candidato 98: [1 5 2]
Candidato 99: [1 5 3]
Candidato 100: [1 5 4]
Candidato 101: [1 5 5]
Candidato 102: [1 5 6]
Candidato 103: [ 1  5 -1]
Candidato 104: [ 1 -1  0]
Candidato 105: [ 1 -1  1]
Candidato 106: [ 1 -1  2]
Candidato 107: [ 1 -1  3]
Candidato 108: [ 1 -1  4]
Candidato 109: [ 1 -1  5]
Candidato 110: [ 1 -1  6]
Candidato 111: [ 1 -1 -1]
Candidato 112: [2 0 0]
Candidato 113: [2 0 1]
Candidato 114: [2 0 2]
Candidato 115: [2 0 3]
Candidato 116: [2 0 4]
Candidato 117: [2 0 5]
Candidato 118: [2 0 6]
Candidato 119: [ 2  0 -1]
Candidato 120: [2 1 0]
Candidato 121: [2 1 1]
Candidato 122: [2 1 2]
Candidato 123: [2 1 3]
Candidato 124: [2 1 4]
Candidato 125: [2 1 5]
Candidato 126: [2 1 6]
Candidato 127: [ 2  1 -1]
Candidato 128: [2 2 0]
Candidato 129: [2 2 1]
Candidato 130: [2 2 2]
Candidato 131: [2 2 3]
Candidato 132: [2 2 4]
Candidato 133: [2 2 5]
Candidato 134: [2 2 6]
Candidato 135: [ 2  2 -1]
Candidato 136: [2 3 0]
Candidato 137: [2 3 1]
Candidato 138: [2 3 2]
Candidato 139: [2 3 3]
Candidato 140: [2 3 4]
Candidato 141: [2 3 5]
Candidato 142: [2 3 6]
Candidato 143: [ 2  3 -1]
Candidato 144: [2 4 0]
Candidato 145: [2 4 1]
Candidato 146: [2 4 2]
Candidato 147: [2 4 3]
Candidato 148: [2 4 4]
Candidato 149: [2 4 5]
Candidato 150: [2 4 6]
Candidato 151: [ 2  4 -1]
Candidato 152: [2 5 0]
Candidato 153: [2 5 1]
Candidato 154: [2 5 2]
Candidato 155: [2 5 3]
Candidato 156: [2 5 4]
Candidato 157: [2 5 5]
Candidato 158: [2 5 6]
Candidato 159: [ 2  5 -1]
Candidato 160: [ 2 -1  0]
Candidato 161: [ 2 -1  1]
Candidato 162: [ 2 -1  2]
Candidato 163: [ 2 -1  3]
Candidato 164: [ 2 -1  4]
Candidato 165: [ 2 -1  5]
Candidato 166: [ 2 -1  6]
Candidato 167: [ 2 -1 -1]
Candidato 168: [3 0 0]
Candidato 169: [3 0 1]
Candidato 170: [3 0 2]
Candidato 171: [3 0 3]
Candidato 172: [3 0 4]
Candidato 173: [3 0 5]
Candidato 174: [3 0 6]
Candidato 175: [ 3  0 -1]
Candidato 176: [3 1 0]
Candidato 177: [3 1 1]
Candidato 178: [3 1 2]
Candidato 179: [3 1 3]
Candidato 180: [3 1 4]
Candidato 181: [3 1 5]
Candidato 182: [3 1 6]
Candidato 183: [ 3  1 -1]
Candidato 184: [3 2 0]
Candidato 185: [3 2 1]
Candidato 186: [3 2 2]
Candidato 187: [3 2 3]
Candidato 188: [3 2 4]
Candidato 189: [3 2 5]
Candidato 190: [3 2 6]
Candidato 191: [ 3  2 -1]
Candidato 192: [3 3 0]
Candidato 193: [3 3 1]
Candidato 194: [3 3 2]
Candidato 195: [3 3 3]
Candidato 196: [3 3 4]
Candidato 197: [3 3 5]
Candidato 198: [3 3 6]
Candidato 199: [ 3  3 -1]
Candidato 200: [3 4 0]
Candidato 201: [3 4 1]
Candidato 202: [3 4 2]
Candidato 203: [3 4 3]
Candidato 204: [3 4 4]
Candidato 205: [3 4 5]
Candidato 206: [3 4 6]
Candidato 207: [ 3  4 -1]
Candidato 208: [3 5 0]
Candidato 209: [3 5 1]
Candidato 210: [3 5 2]
Candidato 211: [3 5 3]
Candidato 212: [3 5 4]
Candidato 213: [3 5 5]
Candidato 214: [3 5 6]
Candidato 215: [ 3  5 -1]
Candidato 216: [ 3 -1  0]
Candidato 217: [ 3 -1  1]
Candidato 218: [ 3 -1  2]
Candidato 219: [ 3 -1  3]
Candidato 220: [ 3 -1  4]
Candidato 221: [ 3 -1  5]
Candidato 222: [ 3 -1  6]
Candidato 223: [ 3 -1 -1]
Candidato 224: [4 0 0]
Candidato 225: [4 0 1]
Candidato 226: [4 0 2]
Candidato 227: [4 0 3]
Candidato 228: [4 0 4]
Candidato 229: [4 0 5]
Candidato 230: [4 0 6]
Candidato 231: [ 4  0 -1]
Candidato 232: [4 1 0]
Candidato 233: [4 1 1]
Candidato 234: [4 1 2]
Candidato 235: [4 1 3]
Candidato 236: [4 1 4]
Candidato 237: [4 1 5]
Candidato 238: [4 1 6]
Candidato 239: [ 4  1 -1]
Candidato 240: [4 2 0]
Candidato 241: [4 2 1]
Candidato 242: [4 2 2]
Candidato 243: [4 2 3]
Candidato 244: [4 2 4]
Candidato 245: [4 2 5]
Candidato 246: [4 2 6]
Candidato 247: [ 4  2 -1]
Candidato 248: [4 3 0]
Candidato 249: [4 3 1]
Candidato 250: [4 3 2]
Candidato 251: [4 3 3]
Candidato 252: [4 3 4]
Candidato 253: [4 3 5]
Candidato 254: [4 3 6]
Candidato 255: [ 4  3 -1]
Candidato 256: [4 4 0]
Candidato 257: [4 4 1]
Candidato 258: [4 4 2]
Candidato 259: [4 4 3]
Candidato 260: [4 4 4]
Candidato 261: [4 4 5]
Candidato 262: [4 4 6]
Candidato 263: [ 4  4 -1]
Candidato 264: [4 5 0]
Candidato 265: [4 5 1]
Candidato 266: [4 5 2]
Candidato 267: [4 5 3]
Candidato 268: [4 5 4]
Candidato 269: [4 5 5]
Candidato 270: [4 5 6]
Candidato 271: [ 4  5 -1]
Candidato 272: [ 4 -1  0]
Candidato 273: [ 4 -1  1]
Candidato 274: [ 4 -1  2]
Candidato 275: [ 4 -1  3]
Candidato 276: [ 4 -1  4]
Candidato 277: [ 4 -1  5]
Candidato 278: [ 4 -1  6]
Candidato 279: [ 4 -1 -1]
Candidato 280: [5 0 0]
Candidato 281: [5 0 1]
Candidato 282: [5 0 2]
Candidato 283: [5 0 3]
Candidato 284: [5 0 4]
Candidato 285: [5 0 5]
Candidato 286: [5 0 6]
Candidato 287: [ 5  0 -1]
Candidato 288: [5 1 0]
Candidato 289: [5 1 1]
Candidato 290: [5 1 2]
Candidato 291: [5 1 3]
Candidato 292: [5 1 4]
Candidato 293: [5 1 5]
Candidato 294: [5 1 6]
Candidato 295: [ 5  1 -1]
Candidato 296: [5 2 0]
Candidato 297: [5 2 1]
Candidato 298: [5 2 2]
Candidato 299: [5 2 3]
Candidato 300: [5 2 4]
Candidato 301: [5 2 5]
Candidato 302: [5 2 6]
Candidato 303: [ 5  2 -1]
Candidato 304: [5 3 0]
Candidato 305: [5 3 1]
Candidato 306: [5 3 2]
Candidato 307: [5 3 3]
Candidato 308: [5 3 4]
Candidato 309: [5 3 5]
Candidato 310: [5 3 6]
Candidato 311: [ 5  3 -1]
Candidato 312: [5 4 0]
Candidato 313: [5 4 1]
Candidato 314: [5 4 2]
Candidato 315: [5 4 3]
Candidato 316: [5 4 4]
Candidato 317: [5 4 5]
Candidato 318: [5 4 6]
Candidato 319: [ 5  4 -1]
Candidato 320: [5 5 0]
Candidato 321: [5 5 1]
Candidato 322: [5 5 2]
Candidato 323: [5 5 3]
Candidato 324: [5 5 4]
Candidato 325: [5 5 5]
Candidato 326: [5 5 6]
Candidato 327: [ 5  5 -1]
Candidato 328: [ 5 -1  0]
Candidato 329: [ 5 -1  1]
Candidato 330: [ 5 -1  2]
Candidato 331: [ 5 -1  3]
Candidato 332: [ 5 -1  4]
Candidato 333: [ 5 -1  5]
Candidato 334: [ 5 -1  6]
Candidato 335: [ 5 -1 -1]
Candidato 336: [6 0 0]
Candidato 337: [6 0 1]
Candidato 338: [6 0 2]
Candidato 339: [6 0 3]
Candidato 340: [6 0 4]
Candidato 341: [6 0 5]
Candidato 342: [6 0 6]
Candidato 343: [ 6  0 -1]
Candidato 344: [6 1 0]
Candidato 345: [6 1 1]
Candidato 346: [6 1 2]
Candidato 347: [6 1 3]
Candidato 348: [6 1 4]
Candidato 349: [6 1 5]
Candidato 350: [6 1 6]
Candidato 351: [ 6  1 -1]
Candidato 352: [6 2 0]
Candidato 353: [6 2 1]
Candidato 354: [6 2 2]
Candidato 355: [6 2 3]
Candidato 356: [6 2 4]
Candidato 357: [6 2 5]
Candidato 358: [6 2 6]
Candidato 359: [ 6  2 -1]
Candidato 360: [6 3 0]
Candidato 361: [6 3 1]
Candidato 362: [6 3 2]
Candidato 363: [6 3 3]
Candidato 364: [6 3 4]
Candidato 365: [6 3 5]
Candidato 366: [6 3 6]
Candidato 367: [ 6  3 -1]
Candidato 368: [6 4 0]
Candidato 369: [6 4 1]
Candidato 370: [6 4 2]
Candidato 371: [6 4 3]
Candidato 372: [6 4 4]
Candidato 373: [6 4 5]
Candidato 374: [6 4 6]
Candidato 375: [ 6  4 -1]
Candidato 376: [6 5 0]
Candidato 377: [6 5 1]
Candidato 378: [6 5 2]
Candidato 379: [6 5 3]
Candidato 380: [6 5 4]
Candidato 381: [6 5 5]
Candidato 382: [6 5 6]
Candidato 383: [ 6  5 -1]
Candidato 384: [ 6 -1  0]
Candidato 385: [ 6 -1  1]
Candidato 386: [ 6 -1  2]
Candidato 387: [ 6 -1  3]
Candidato 388: [ 6 -1  4]
Candidato 389: [ 6 -1  5]
Candidato 390: [ 6 -1  6]
Candidato 391: [ 6 -1 -1]
Candidato 392: [-1  0  0]
Candidato 393: [-1  0  1]
Candidato 394: [-1  0  2]
Candidato 395: [-1  0  3]
Candidato 396: [-1  0  4]
Candidato 397: [-1  0  5]
Candidato 398: [-1  0  6]
Candidato 399: [-1  0 -1]
Candidato 400: [-1  1  0]
Candidato 401: [-1  1  1]
Candidato 402: [-1  1  2]
Candidato 403: [-1  1  3]
Candidato 404: [-1  1  4]
Candidato 405: [-1  1  5]
Candidato 406: [-1  1  6]
Candidato 407: [-1  1 -1]
Candidato 408: [-1  2  0]
Candidato 409: [-1  2  1]
Candidato 410: [-1  2  2]
Candidato 411: [-1  2  3]
Candidato 412: [-1  2  4]
Candidato 413: [-1  2  5]
Candidato 414: [-1  2  6]
Candidato 415: [-1  2 -1]
Candidato 416: [-1  3  0]
Candidato 417: [-1  3  1]
Candidato 418: [-1  3  2]
Candidato 419: [-1  3  3]
Candidato 420: [-1  3  4]
Candidato 421: [-1  3  5]
Candidato 422: [-1  3  6]
Candidato 423: [-1  3 -1]
Candidato 424: [-1  4  0]
Candidato 425: [-1  4  1]
Candidato 426: [-1  4  2]
Candidato 427: [-1  4  3]
Candidato 428: [-1  4  4]
Candidato 429: [-1  4  5]
Candidato 430: [-1  4  6]
Candidato 431: [-1  4 -1]
Candidato 432: [-1  5  0]
Candidato 433: [-1  5  1]
Candidato 434: [-1  5  2]
Candidato 435: [-1  5  3]
Candidato 436: [-1  5  4]
Candidato 437: [-1  5  5]
Candidato 438: [-1  5  6]
Candidato 439: [-1  5 -1]
Candidato 440: [-1 -1  0]
Candidato 441: [-1 -1  1]
Candidato 442: [-1 -1  2]
Candidato 443: [-1 -1  3]
Candidato 444: [-1 -1  4]
Candidato 445: [-1 -1  5]
Candidato 446: [-1 -1  6]

Quarta atualização - > Lógica para pesquisar o melhor candidato

In [45]:
def iterativeScaling(T,D,lambdas):
    #Mock
    nLambdas = len(lambdas);  
    nR,_=D.shape;
    mockLambdas = np.random.uniform(-10,10,nLambdas);
    mockEstimation = np.random.uniform(0,1,nR);
    return mockLambdas, mockEstimation;

def gainFunction(T,D,lambdas):
    #Mock
    mockGain = np.random.uniform(-4,0,1);
    return mockGain;

def explanationTable(D,k):
    #Iniciar Explanation Table T com o padrão (*,*,...,*)
    p = getAllWildcard(solSpace)
    T = np.array([p]);
    #Iniciar estimação u*, com u*[i] = sum(meta)/N, sendo N o tamanho de T
    nR,nC = D.shape;
    initialEstimation = np.sum(D[:,-3])/nR;
    U = np.array([initialEstimation for _ in range(nR)]);
    lambdas = [0] #Oh yes! This will be a lagrangian relaxation
    pastLogLH = 0;#Best past gain
    #Repetir k vezes
    for i in range(k):
        mask = np.where(solSpace[:,-1] == 0); #Get the unmarked patterns
        logLHArray = np.zeros(len(mask[0]));#Preparing the array to collect the gains
        #Obter o padrão p_max que maximize a entropia
        for index, pCandidate in enumerate(solSpace[mask][:,:-1]): #For each candidate
            #Optimization problem
            TCandidate = np.append(T,[pCandidate], axis=0); #Go to the optimization problem with the actual chosen patterns and with the candidate pCandidate
            lambdasCandidate, _ = iterativeScaling(TCandidate, D, np.append(lambdas, [0]));#Optimize engineer!
            logLHArray[index] = gainFunction(TCandidate, D, lambdasCandidate); #Compute the gain for these lambdas   
       #Agregar p_max como padrão a T
       #Atualizar as estimações u* com o novo padrão p_max agregado a T
    #Retornar u*, T
    return;

Quinta atualizção - > Escolher o padrão com o maior ganho, agregar o padrão à Explanation Table, re-computar as estimações e os lambdas

In [46]:
def explanationTable(D,k):
    #Iniciar Explanation Table T com o padrão (*,*,...,*)
    p = getAllWildcard(solSpace)
    T = np.array([p]);
    #Iniciar estimação u*, com u*[i] = sum(meta)/N, sendo N o tamanho de T
    nR,nC = D.shape;
    initialEstimation = np.sum(D[:,-3])/nR;
    U = np.array([initialEstimation for _ in range(nR)]);
    lambdas = [0] #Oh yes! This will be a lagrangian relaxation
    pastLogLH = 0;#Best past gain
    #Repetir k vezes
    for i in range(k):
        mask = np.where(solSpace[:,-1] == 0); #Get the unmarked patterns
        logLHArray = np.zeros(len(mask[0]));#Preparing the array to collect the gains
        #Obter o padrão p_max que maximize a entropia
        for index, pCandidate in enumerate(solSpace[mask][:,:-1]): #For each candidate
            #Optimization problem
            TCandidate = np.append(T,[pCandidate], axis=0); #Go to the optimization problem with the actual chosen patterns and with the candidate pCandidate
            lambdasCandidate, _ = iterativeScaling(TCandidate, D, np.append(lambdas, [0]));#Optimize engineer!
            logLHArray[index] = gainFunction(TCandidate, D, lambdasCandidate); #Compute the gain for these lambdas   
        #Agregar p_max como padrão a T
        indexGain = np.argmax(logLHArray); #Obtain the index gain
        T = np.append(T, [solSpace[indexGain][:-1]], axis=0); #Add the new pattern to the Explanation Table
        solSpace[indexGain,-1] = 1; #Mark the new added pattern
        pastLogLH = logLHArray[indexGain] + pastLogLH; #Update the current gain
        #Atualizar as estimações u* com o novo padrão p_max agregado a T
        lambdas, U = iterativeScaling(T, D, np.append(lambdas, [0]));#Update lambda and the estimation
    #Retornar u*, T
    return T,U;

In [48]:
T,U = explanationTable(codedDataset,3)

In [49]:
T

array([[-1, -1, -1],
       [ 1,  1,  4],
       [ 4,  2,  2],
       [ 1,  1,  3]], dtype=int64)

In [50]:
U

array([0.17856664, 0.11282115, 0.12946538, 0.98450523, 0.82356309,
       0.59040211, 0.58889457, 0.20527925, 0.0323669 , 0.95756077,
       0.01874703, 0.44948634, 0.74882267, 0.12973324])

## Desafios 

<ul>
  <li>Desenvolver o algoritmo de optimização Iterative Scaling</li>
  <li>Desenvolver a função de ganho.</li>
</ul>